/* Variables */
:root {
  /* COLORS */
  --clr-primary: hsl(160, 100%, 75%);
  --clr-secondary: hsl(39, 80%, 79%);
  --clr-neutral: hsl(0, 0%, 0%);
  --clr-accent-100: hsl(0, 0%, 100%);
  --clr-accent-200: hsl(0, 100%, 50%);

  /* FONT SIZE */

  /* FONT FAMILY */
  --ff-primary: "Josefin Sans", sans-serif;
  
  /* FONT WEIGHTS */
  --fw-primary: 400;
  --fw-secondary: 700;
}

/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  outline-color: transparent;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd{
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html,
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* prevents outline on pseudo classes on anchor links */
a:focus,
a:visited,
a:active {
  outline-color: transparent;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons and prevent blue highlight box */
input,
button,
textarea,
select,
a {
  -webkit-tap-highlight-color: transparent;
  font: inherit;
}

button,
section {
  display: inline;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
