/* General Styles */
body {
  font-family: var(--ff-primary);
  font-weight: 700;
  color: var(--clr-neutral);
  flex-direction: column;
}

/*Utility classes */
.btn {
  border: 1px solid var(--clr-neutral);
  background-color: var(--clr-secondary);
  box-shadow: 4px 3px 0 0;
  translate: 0 0;
  transition: translate 0.1s, box-shadow 0.1s;
  cursor: pointer;
}

.btn--square {
  height: 3.75rem;
  border-radius: 20px;
}

.btn--circle {
  padding: 0.5rem;
  border-radius: 100px;
}

.container {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex--direction {
  flex-direction: column;
}

.gap {
  gap: 1rem;
}

.btn--clicked {
  filter: brightness(1.1);
  translate: 4px 3px;
  box-shadow: 0 0 0 0;
}

.centered {
  justify-content: center;
  align-items: center;
}

/* Styles */
.calc {
  background-color: var(--clr-primary);
  padding: 1.5rem 1.5rem;
  justify-content: space-evenly;
  min-height: 100vh;
}

.calc__screen {
  background-color: var(--clr-secondary);
  flex-direction: column;
  width: 100%;
  height: 8rem;
  border-radius: 15px;
  border: 1px solid var(--clr-neutral);
  overflow: hidden;
  transition: background-color 0.2s;
}

.screen {
  width: 100%;
  padding: 0 0.3rem;
  border: 0;
  text-align: end;
  background-color: var(--clr-secondary);
  transition: background-color 0.2s;
}

.calc__output {
  font-size: 3rem;
  height: 60%;
  top: 10px;
}

.calc__input {
  border-top: 1px solid var(--clr-neutral);
  border-radius: 15px;
  height: 40%;
  font-size: 2rem;
}

::placeholder {
  color: hsl(0, 0%, 65%);
}

.calc__control {
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: var(--fw-primary);
}

.calc__power {
  background-color: hsl(0, 100%, 50%);
}

.calc__head-section {
  flex-direction: row;
}

.calc__btn-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.result {
  grid-row: 5/6;
  grid-column: 3/5;
}

.contact {
  background-color: var(--clr-secondary);
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
}

.link {
  text-decoration: none;
}

.btn--circle,
.link-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.link-icon,
path:hover {
  fill: white;
}

/* States */
.power-off {
  translate: 4px 3px;
  box-shadow: 0 0 0 0;
}

.power-on-clr {
  background-color: hsl(120, 84%, 50%);
}

.inactive,
.power-off {
  /* background-color: hsl(39, 30%, 79%); */
}

.mute{
   background-color: hsl(0, 0%, 64%);
}


.error-screen {
  background-color: var(--clr-accent-200);
  color: var(--clr-accent-100);
}

/*Tablet screens*/
@media (min-width: 426px) {
  body {
    align-items: center;
    justify-content: center;
    background: linear-gradient(290deg, hsl(160, 100%, 75%), hsl(39, 80%, 79%));
    background-color: var(--clr-primary);
    padding: 2rem 2rem;
  }

  .calc {
    width: min(100%, 350px);
    border-radius: 35px;
    box-shadow: 15px 15px 0 0;
    border: 1px solid var(--clr-neutral);
    min-height: 100%;
  }

  .contact {
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 0;
  }
}

/*Desktop screen*/
@media (min-width: 769px) {
  .flex--direction {
    flex-direction: row;
  }

  .calc {
    width: min(100%, 625px);
    justify-content: space-between;
    gap: 1.5rem;
  }

  .calc__head-section {
    flex-direction: column;
    width: 40%;
  }

  .calc__btn-section {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  /* Button repositioning */
  .nine {
    grid-column: 5/6;
    grid-row: 4/5;
  }

  .multiply {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .addition {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .result {
    grid-row: 1/2;
    grid-column: 4/6;
  }
}
